.modal-content {
  background-color: #e8f1fe;
  border: 0.5px solid #0d6efd;
  border-radius: 10px;
}

.modal-header,
.modal-body {
  border: none;
}
.modal-body .form-control {
  background: #e8f1fe;
}

.modal-content .btn-danger {
  background-color: #ff7979;
  border: none;
}

.modal-content .btn-secondary {
  background-color: #426ba9;
  border: none;
}